* {
    margin: 0;
    padding: 0;
    outline: none;
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
}

a {
    color: white;
    transition: 1.5s;
}

a:hover {
    background-color: rgb(51, 6, 155);
    transition: 0.75s;
}

body {
    background-image: url(../img/Fundo2.jpg);
    min-width: 100vw;
    min-height: 100vh;
}

.container {
    width: 80%;
    margin: auto;
}

header {
    background-color: #141642;
    color: white;
    overflow: auto;
    padding: 20px 0;
}

header h1 {
    margin: 0;
    float: left;
}

header img {
    width: 1.20vw;
}

.pesquisar {
    float: right;
    background-color: #1c1e4f;
    border: none;
    height: 4.25vh;
    width: 13.30vw;
    text-align: center;
    color: white;
    transition: 0.75s;
}

.pesquisar:focus {
    width: 14.30vw;
    transition: 0.75s;
}

.bt-pesquisar {
    float: right;
    background-color: #1c1e4f;
    height: 4.25vh;
    width: 2.30vw;
    border: none;
    border-left: 3px solid #141642;
    transition: 0.75s;
}

.bt-pesquisar:hover {
    background-color: #0d0f30;
    transition: 0.75s;
}

::placeholder {
    color: white;
}

.header-dois {
    background-color: #0c0d26;
    color: white;
    overflow: auto;
    padding-top: 20px;
    padding-bottom: 20px;
}

.navbar {
    list-style: none;
    padding-left: 35%;
}

.navbar li {
    float: left;
    margin-left: 1.33vw;
    text-transform: uppercase;
    text-align: center;
}

.navbar span {
    background-color: rgb(51, 6, 155);
    font-weight: bolder;
    transition: 2s;
}

.sobre {
    color: white;
    padding: 200px 0;
}

.sobre h1 {
    font-size: 8vh;    
    padding: 20px 0;
    text-align: center;
}

.sobre p {
    margin: auto;
    width: 60%;
    font-size: 2.5vh; 
    line-height: 50px;
}

.sobre span {
    background-color: rgb(51, 6, 155);
}

/* Responsividade */

@media only screen and (max-width: 700px) {
    .navbar {
        padding-left: 20%;
    }

    .serie-item-branco {
        font-size: 12px;
        width: 110%;
    }

    .serie-item-preto {
        font-size: 12px;
        width: 110%;
    }

    .bt-pesquisar {
        width: 6.30vw;
    }
    
}